
.app {
    width:700px;
    position: absolute;
    min-height: 800px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust column width as needed
    gap: 20px;
   */
   display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto-fill, min-content); /* Adjust column width as needed */
    gap: 40px;
  }
  .animal-card {
    width: 100%; /* Take up the full width of the grid cell */
  }

  .load-more-container{
    width: 150px;
    height: 100px;
    align-items: center;
    position: relative;
    left: 150%;
  }
  .load-more-container button:hover{
    background-color: cornflowerblue;
  }

h1{
    font-size: 1.5rem;
    text-align: center;
    color: #363535;
}

@media (max-width: 768px) {
    /* Mobile-specific styles here */
   
    body{
        left: 20px;
        
    }
    .app {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns for mobile */
        gap: 20px; /* Increase the gap for mobile */
      }
      
      .load-more-container {
        width: 100%;
        text-align: center;
        position: relative;
        left: 0; /* Adjust position for mobile screens */
      }
      
      h1 {
        font-size: 1.5rem;
        text-align: center;
        color: #363535;
      }
      
  }
  